.ball {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid transparent;
}

.ball.loading {
  animation: pulse 450ms infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 0 0 var(--primary-blue-color);
  }

  100% {
    background-color: var(--primary-blue-color);
    border-color: var(--primary-blue-color);
  }
}