.ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid transparent;
}

.ball.loading {
  animation: pulse 500ms infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 0 0 var(--primary-blue-color);
  }

  100% {
    background-color: var(--primary-blue-color);
    border-color: var(--primary-blue-color);
  }
}