.filter {
  display: flex;
  align-items: center;

  &__count {
    background-color: var(--primary-blue-color);
    color: #fff;
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 0.5rem;
    font-weight: bold;
  }

  &__input {
    outline: none;
    border: 1px solid var(--secondary-gray-color);
    border-radius: 4px;
    padding: 0.5rem;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      border: 1px solid var(--primary-blue-color);
      box-shadow: 0 0 3px var(--primary-blue-color);
    }
  }
}